openai
langchain
langchain_openai
langchain_mistralai
langchain-deepseek-official
langchain_anthropic
langchain-community
langserve[all]
langsmith
docarray
tiktoken
pandas
tabulate
codebleu
tqdm
scikit-learn
python-dotenv
valentine
yake
transformers
torch
plotly
kaleido
pydantic==1.10.13